.login-page-background {
  height: 100vh;
  background-color: #ccba7d;
  background-image: url("../../assets/maze-background.jpg");
  background-blend-mode: normal;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lobby-controls {
  display: flex;
}

.login-button {
  width: min-content;
  background-color: transparent;
}
.logout-button {
  background-color: orange;
}
