/* @font-face {

  font-family: 'Supply Center';

  src: local('Supply Center'), url('../../public/assets/Supply\ Center.otf') format('otf'); 

} */


.login-page-background {
  height: 100vh;
  /* background-color: #ccba7d; */
  background-image: url("../../assets/Background.png");
  /* /* background-blend-mode: normal; */
  background-size: cover;
  /* background-position: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-container {
  flex: 1;
  display: flex;
  /* justify-content: space-between; */
  margin: 0;
  width: 100vw;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 32px solid black;
  border-radius: 27px;
  border-image-source: url("../../public/assets/border8px.png");
  border-image-slice: 33%;
  border-image-repeat: repeat;
  background-color: #7F6E56;
  filter: drop-shadow(8px 8px #241D0D);
  width: 32rem;
  margin-bottom: 1rem;
}

.title {
  font-family: "Supply Center";
  font-size: 3rem;
  color: #EBCCB3;
  text-align: center;
  filter: drop-shadow(8px 8px #241D0D);
}

.small-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 16px; */
}

.log-image {
  content: url("../../assets/pixel-trunk.png");
  height: 100vh;
  width: 32vw;
}

.login-button {
  width: 10rem;
  background-color: transparent;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logout-button {
  background-color: #241D0D;
  font-family: "Born2bSportyFS";
  font-size: 2rem;
  color: #EBCCB3;
  width: 100%;
  border: 32px solid black;
  border-radius: 27px;
  border-image-source: url("../../public/assets/border8px.png");
  border-image-slice: 33%;
  border-image-repeat: repeat;
  filter: drop-shadow(8px 8px #241D0D);
  text-transform: uppercase;
}

.logout-button:hover {
  background-color: #EBCCB3;
  color: #241D0D
}

.lobby {
  width: 60%;
}

.lobby-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.create-lobby {
  font-family: 'Born2bSportyFS';
  font-size: 2rem;
  background-color: #776239;
  color: #EBCCB3;
  margin: 0 1rem;
  border: 32px solid black;
  border-radius: 27px;
  border-image-source: url("../../public/assets/border8px.png");
  border-image-slice: 33%;
  border-image-repeat: repeat;
  filter: drop-shadow(8px 8px #241D0D);
  text-transform: uppercase;
}

.create-lobby:hover {
  background-color: #EBCCB3;
  color: #241D0D;
}


.gamefiles-container {
  height: 100vh;
  width: 68%;
  display: flex;
  justify-content: end;
}

.gamefile-img {
  content: url("../../assets/pixel-leaf.png");
  height: 100%;
  filter: drop-shadow(8px 8px #241D0D);
}

.gamefile-content {
  position: absolute;
}

.gamefile {
  /* flex: 1; */
  height: 30%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dedicool";
  color:#776239;
  font-size: 1.5rem;
}

.gamefile-img:hover {
  content: url("../../assets/pixel-leaf-hover.png");
}

.gamefile:hover {
  color:#241D0D;
}

.gamefile-list-one,
.gamefile-list-two {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}